body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: antiquewhite;
  background-color: #161616;
  font-family: 'Inter';
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.item-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed antiquewhite;
  padding-bottom: .75rem;
  margin-bottom: .75rem;
}

.item-header-headding{
  width: 50%;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.item-header-headding2{
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.item-image{
  height: 400px;
  background-color: gray;
  margin: .75rem 0;
}

.item-image canvas:nth-of-type(2){
  display: none;
}

.item-footer{
  display: flex;
  align-items: center;
  border-top: 1px dashed antiquewhite;
  padding: .75rem 0 0;
}